.products_wrapp {
  display: flex;
  /* border: 1px solid grey; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
}

.product_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: #1976d2;
  box-shadow: 0px 3px 15px 5px rgb(183, 180, 180);
  max-width: 1170px;
  height: auto;
  flex-direction: row;
  margin-top: 50px;
}

.product_box_left {
  display: flex;
  padding: 5px;
  background-color: white;

  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 500px;
  flex-direction: row;
  border-radius: 5px;

}

.product_box_right {
  display: flex;
  padding: 5px;
    background-color: white;
    border-radius: 5px;

  justify-content: space-around;
  align-items: center;
  width: auto;

  height: 500px;
  flex-direction: row;
}

.product_box_foto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 55%;
  height: 100%;
  flex-direction: row;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;


  /* box-shadow: 0px 3px 15px 5px rgb(183, 180, 180); */
}

.product_box_foto img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product_box_desc {
  display: flex;
  background-color: white;
  /* clip-path: polygon(0 0, 405px 0, 100% 90px, 100% 100%, 0 100%, 0 0); */
  justify-content: flex-start;
  align-items: center;
  width: 45%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* кнопка  */
.product_box_desc a {
  text-decoration: none;
  color:white;
}
.product_box_desc a:hover {
  text-decoration: none;
  color: white;
}
.product_box_desc button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.product_box_desc button.learn-more {
  width: 12rem;
  height: auto;
}

.product_box_desc button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1976d2;
  border-radius: 1.625rem;
}

.product_box_desc button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.product_box_desc button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.product_box_desc button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product_box_desc button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #1976d2;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.product_box_desc button:hover .circle {
  width: 100%;
}

.product_box_desc button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}

.product_box_desc button:hover .button-text {
  color: #fff;
}

/* кнопка  */





/* страница с продуктом  */
.product-description  {
  display: flex;
  justify-content: flex-start;
  border: 1px solid red ;

  width: 100%;
    height: auto;
    max-width: 1170px;
    margin-bottom: 50px;
}


.product-description__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid #1976d2;
  border-bottom:5px solid #1976d2;
  border-left:5px solid #1976d2;
  border-radius: 5px;
  /* border: 1px solid orange ; */
  width: 600px;
    height: auto;
}

.equipment-box {
  display: flex;
  justify-content: space-between;

  width: 100%;
    border-bottom: 5px solid #1976d2;
  height: auto;

  max-width: 1170px;
}

.equipment-box__card {
  display: flex;
  justify-content: center;
  border: 1px solid orange ;
  width: 350px;
  height: auto;

  padding: 5px;

  border-bottom-left-radius: none;
  border-bottom-right-radius: none;

  border: 5px solid #1976d2;
  border-bottom: none;
  /* background-color: #1976d2; */
  flex-direction: column;


}

.equipment-box__card-foto {
  display: flex;
  justify-content: center;
  border: 1px solid green ;
  width: 100%;
  height: auto;
  border-radius: 5px;
  flex-direction: column;
}
.equipment-box__card-foto img {
  width:auto;
  max-width: 100%;
  height:auto;
  border-radius: 5px;
  max-height: 300px;

}

.equipment-box__card-desc {
  display: flex;
  justify-content: center;
  border: 1px solid grey ;
  width: 100%;
  height: auto;
  flex-direction: column;
}


/* страница с продуктом  */
